@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

$primary_color: #330E56;
$secondary_color: #0C2147;
$green: rgba(0, 145, 0, 0.9);
$red: rgba(255, 70, 70, 0.9);
$bodycolor: rgb(46, 46, 46);

// Transitions

.goBack-enter-active {
  transition: transform ease-out 0.2s;
}
.goBack-leave-active {
  transition: transform ease-in 0.2s;
}
.goBack-enter {
  transform: translateX(-50%);
}
.goBack-leave-to {
  transform: translateX(50%);
}

.SlideLeft-enter-active {
  transition: transform ease-out 0.2s;
}
.SlideLeft-leave-active {
  transition: transform ease-in 0.2s;
}
.SlideLeft-enter {
  transform: translateX(50%);
}
.SlideLeft-leave-to {
  transform: translateX(-50%);
}

// Global

body{
  font-family: 'DM Sans', sans-serif;
  color:$bodycolor;
  font-size: 0.9rem;
  @media (min-width:576px) {
    // background-color: rgb(69, 69, 69);
    background-color: white;
  }
}

h1{
  font-size: 1.3rem;
  font-weight: 400;
  margin-bottom: .5rem;
}
h4{
  font-size: 0.8rem;
}
.small-type{
  display: block;
  font-size: 85%;
}

.main-wrapper {
  overflow: hidden;
  @media (min-width:576px) {
    background-color: white;
    max-width: 100%;
  }
  @media (min-width:768px) {
    max-width: 540px;
  }
}

.cover {
  height: 110px;
  .placeholder {
    background:{
      size:cover;
      repeat:no-repeat;
      image: url(~/assets/img/honey.svg), linear-gradient(225deg, rgba(78,0,96,1) 0%, rgba(0,39,67,1) 100%);
    }
    height: 100%;
    border-bottom-right-radius: 25px;
    &:before {
      content: "";
      position: absolute;
      background-color: transparent;
      bottom: -50px;
      height: 50px;
      width: 25px;
      border-top-left-radius: 25px;
      box-shadow: 0 -25px 0 0 #002743;
      display: block;
      z-index: -1;
    }
  }
}

.avi {
  margin: -96px auto 0
}
.avatar {
  margin-top: 50px;
  border: 5px solid rgba(255,255,255,1);
  .rounded-circle {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 90px;
    height: 90px;
  }
}
.status{
  margin:1.5rem auto;
  &:focus, &:hover{
    text-decoration: none;
    background-color:darken($green, 15);
  }
  &.accepting{
    background-color:$green;
    display: block;
    border-radius: 25px;
    padding: 0.5rem;
    font-weight: 400;
    line-height: 1.3;
    font-size: .8rem;
    color:white;
  }
  &.notaccepting{
    background-color:$red;
    display: block;
    border-radius: 25px;
    padding: 0.5rem;
    font-weight: 400;
    line-height: 1.3;
    font-size: .8rem;
    color:white;
  }
}

.featured-items{
  padding:0;
  gap:20px;
  display:flex;
  overflow-x: scroll;
  overflow-y:visible;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  padding-left: 2rem;
  padding-right: 2rem;
  &::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
  }
  .featured-item{
    background:{
      repeat:no-repeat;
      size:cover;
      position: center;
    }
    height:160px;
    flex: 0 0 42%;
    border-radius:25px;
    position:relative;
    margin-bottom: 35px;
    @media (min-width:500px) {
      height:200px;
    }
    .featured-title{
      position:absolute;
      left:0;
      right:0;
      bottom: -30px;
      text-align: center;
      color:$bodycolor;
    }
  }
}

.links{
  padding: 0;
  .link{
    display: flex;
    align-items: center;
    color:$bodycolor;
    text-decoration: none;
    margin-bottom: 1rem;
    .link-image{
      width:50px;
      height:50px;
      border-radius:15px;
      background:{
        repeat:no-repeat;
        size:cover;
      }
      margin-right: 1rem;
    }
    .link-text{
      font-size: 1rem;
      font-weight: 500;
    }
    .arrow{
      border: solid rgba($bodycolor, 0.2);
      border-width: 0 2px 2px 0;
      display: inline-block;
      padding: 4px;
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      margin-left: auto;
    }
  }
}

// sub content

.sub-wrapper{
  padding: 1.5rem 1.5rem;
  background-color: white;
  @media (min-width:576px) {
    .container{
      max-width: 100%;
    }
  }
  @media (min-width:768px) {
    max-width: 540px;
    margin:0 auto;
  }
}

.sub-header {
  display: flex;
  align-items:center;
  justify-content:center;
  margin-bottom: 2rem;
}

.back-button{
  flex:1;
  width:12px;
  height:12px;
  background:{
    repeat:no-repeat;
    size:contain;
  }
}

.mini-profile{

}

.profile-handle{
  display: inline-block;
  vertical-align: middle;
  font-size: 90%;
  margin-right: 0.5rem;
  font-weight: 500;
}

.mini-profile-image{
  vertical-align: middle;
  display: inline-block;
  width:45px;
  height:45px;
  border:0px solid white;
  border-radius:25px;
  background:{
    repeat:no-repeat;
    size:contain;
  }
}

.title-underlined{
  position: relative;
  margin-bottom: 2.5rem;
  &:after{
    content:" ";
    position: absolute;
    bottom:-10px;
    left:0;
    width:1.5rem;
    height:2px;
    margin:0 auto;
    background-color:blue;
  }
}

.sub-wrapper{
  .links .link .link-image{
    width:60px;
    height:60px;
  }
}

.link-description{
  font-weight: 400;
}

.copy-code{
  appearance: none;
  background-color:white;
  // color:white;
  border:none;
  padding:0.5rem 0.8rem;
  margin-left: auto;
  width:20px;
  height:20px;
  background:{
    repeat:no-repeat;
    size:contain;
  }
  // border-radius:0.5rem;
}

.links{
  .btn{
    margin-left:auto;
    font-size: 0.9rem;
  }
}

.fill-image{
  background-size:contain!important;
  background-position:center center;
}

.socials-wrapper{
  list-style-type: none;
  margin:0 auto;
  padding: 0;
  li{
    display: inline-block;
    margin-right: 0.5rem;
    &:last-child{
      margin-right: 0;
    }
    a{
      width:30px;
      height:30px;
      background-repeat:no-repeat;
      background-size:contain;
      display: block;
    }
  }
}

#mc_embed_signup form {
  margin:0 !important;
}
.brandingLogo{
  display: none !important;
}

.featured-yt {
  a{
    display: block;
    position: relative;
    background:{
      repeat:no-repeat;
      size:cover;
      position:center;
    }
    &:before{
      content:"";
      position: absolute;
      inset:0;
      background-color: rgba(black, 0.4);
      z-index: 1;
    }
    .play-button{
      display: block;
      position:absolute;
      inset:0;
      width:80px;
      height:80px;
      margin:auto;
      z-index: 2;
      img{
        display: block;
        width: 100%;
        height: auto;
      }
    }
  }
}